---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

Here is a list of talks and presentations I have given, and for which slides, recordings, or other material are available. Past blackboard talks for which no digital material is available are not contained in this list.
If you believe something is missing or broken, or if have any questions or feedback about the content, do not hesitate to contact me.

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
